extends layout

block content
	main
		// --Search Form--
		form.form-inline(action='/hashtag', method='POST')
			.form-group
				.input-group
					input#hashtagName.form-control(name='hashtag', type='text', placeholder='#Hashtag')
			button#addHashtag.btn.btn-primary(type='submit') Add
		// --Hashtags list--
		.row#hashtagsBox


		// --Hashtag list template--
		script#hashtagTemplate(type='text/x-custom-template')
			.hashtag(data-id='{{id}}') {{hashtagName}}
				button.btn.btn-default.deleteButton(type='button')
					span.glyphicon.glyphicon-trash(aria-hidden='true')

		// --ChartJS--
		canvas#myChart(width='600', height='400')

	script(src='/js/main.js')
	script(src='/js/clientsocket.js')
	
	
	