extends layout

block content
	main
		// --Search Form--
		form.form-inline(action='/hashtag', method='POST')
			.form-group
				.input-group
					input#hashtagName.form-control(name='hashtag', type='text', placeholder='#Hashtag')
			button#addHashtag.btn.btn-primary(type='submit') Add
		// --Hashtags list--
		.row#hashtagsBox
			ul#hashtagsList


		// --Hashtag list template--
		script#hashtagTemplate(type='text/x-custom-template')
			li {{hashtagName}}

	
	