// --Header--
header
	.row
		.col-md-12
			img.twitterLogo(src='./images/Twitter_Logo_White_On_Blue/Twitter_Logo_White_On_Blue.png', height='100', width='100')
			h1
				span.tweetLogo Tweet
				span.countLogo Count
