extends layout

block content
	main
		// --Search Form--
		form.form-inline(action='/hashtag', method='POST')
			.form-group
				.input-group
					input#hashtagName.form-control(name='hashtag', type='text', placeholder='Hashtag')
			button#addHashtag.btn.btn-primary(type='submit') Add
		// --Hashtag list--
		.row#hashtagsList
			ul
				li nike
				li adidas
				li puma

	